
<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %> /60 HP




<!-- alternative link option <a href="/attack">Attack</a> -->

<form action="/attack">
  <input type="submit" value="Attack">
</form>
